

<script type="text/javascript">
    $(document).ready(function() {
// page is now ready, initialize the calendar...
        
    });
</script>

<style type="text/css">
    .cal{
        background-color: white;
        opacity: .95;
        margin-bottom: 40px;
        border: 3px solid darkslategray;
    }


    .calbut{
        width: 454px;
        margin-left: 300px;
        background-color: white;
        opacity: .95;
    }
</style>

<div class = "row">
    <div class = "button container">
        <div class = "calbut jumbotron">
            <h3>Found a date I'm available?</h3>
            <a href="#/rates" class = "btn btn-lg btn-primary">Check the rates</a> | <a href="  #/request" class = "btn btn-lg btn-primary">Request a time.</a>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "cal container">
        <div id='calendar'></div>
    </div>
</div>
