<style type="text/css">
	.cancel{
		/*background-color: gray;*/
		background: rgba(139, 0, 0, .8);
		color: black;
		/*width: 800px;*/
	}
	

	/*h1,h2,h3,h4,h5,h6,p{
		opacity: 100%;
	}*/

	span{
		font-size: 18px;
		/*color: black;*/
	}

	.cancelbut{
        width: 492px;
        margin-left: 300px;
        background: rgba(139, 0, 0, .8);
        color: black;
    }
</style>

<div class = "container">
	<div class = "cancel jumbotron">
		<h1>NO CANCELLATIONS ALLOWED</h1>
	</div>
	<div class = "cancelbut jumbotron">
        <h3>Go to another page.</h3>
        <a href="#/calendar" class = "btn btn-lg btn-primary">Check the Calendar.</a> | <a href="#/request" class = "btn btn-lg btn-primary">Request a time.</a>
    </div>
</div>