
<style type="text/css">
    .jhome{
        background: rgba(0, 153, 153, .8);
        color: white;
    }

    .success{
        text-align: center;
        background-color: silver;
        color: #009900;
        font-weight: bold;
        border-radius: 10px;
    }
</style>
	<div class = "home container">
        <div class = "jhome jumbotron">

            <h1>Welcome to Mila's Pet Sittin' Shop</h1>
            <h3>If you're headed out of town and need someone to watch your beloved animal friends while you're gone, then I'm your gal!</h3><br>
            <div class = "success">
                <p ng-bind = "reqsuccess"></p>
            </div>

            <div class = "row">

                <div class="col-md-6">
                    <img src="./stylesheets/css/images/matlock.jpg" alt = "Mila and Matlock" class = "matlock img-rounded img-responsive">
                </div>

                <div class="col-md-6">
                    <p>My name is Mila and I would love to housesit your pets!</p>
                    <p>I live in the city of Seattle but I travel all around the city and the surrounding areas to care for pets of all kinds.<br>Dogs? Love 'em. Cats? The best. Fish? Great! Ferrets, gerbils, lizards, frogs? No problem!<br>Snakes? No.</p>
                    <p>If you need a pet and/or housesitter, just check out my calendar and request a date!</p>

                    <a href="#/calendar" class = "btn btn-lg btn-primary center-block">Check out my availablilty on the calendar.</a>
                </div>

            </div>
            <br>
            
        </div>
	</div>



