<style type="text/css">
	.rate{
		/*background-color: gray;*/
		background: rgba(106, 90, 205, .8);
		color: white;
		/*width: 800px;*/
	}
	

	/*h1,h2,h3,h4,h5,h6,p{
		opacity: 100%;
	}*/

	span{
		font-size: 18px;
		/*color: black;*/
	}

	.ratebut{
        width: 492px;
        margin-left: 300px;
        background: rgba(106, 90, 205, .8);
        color: white;
    }
</style>

<div class = "container">
	<div class = "rate jumbotron">
		<h1>Pet Sittin' Rates</h1>
		<h2>All prices are per day</h2>
		<hr>
		<h3>Dogs:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>First dog is $30.</span></li>
				<ul >
					<li class = "glyphicon glyphicon-triangle-right"><span>All other dogs after that are $15 extra</span></li>
				</ul>
			</ul>
		<h3>Cats:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>First cat is $20.</span></li>
				<ul>
					<li class = "glyphicon glyphicon-triangle-right"><span>All other cats after that are $10 extra</span></li>
				</ul>
			</ul>
		<h3>Fish:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>Fish tanks are $5.</span></li>
			</ul>
		<h3>Ferrets/Hampters/Other small furry creatures that aren't cats or dogs:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>First furry creature is $10.</span></li>
				<ul>
					<li class = "glyphicon glyphicon-triangle-right"><span>All other furry creatures after 	that are $5 extra</span></li>
				</ul>
			</ul>
		<h3>(Most) Reptiles and Amphibians:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>First lizard-like creature is $15.</span	></li>
				<ul>
					<li class = "glyphicon glyphicon-triangle-right"><span>All other lizard-like creatures 	after that are $5 extra</span></li>
				</ul>
			</ul>
		<h3>Snakes:</h3>
			<ul class = "list-unstyled">
				<li class = "glyphicon glyphicon-triangle-right"><span>How dare you ask me that.</span></li>
			</ul>
	</div>
	<div class = "ratebut jumbotron">
        <h3>See? Reasonable Prices</h3>
        <a href="#/calendar" class = "btn btn-lg btn-primary">Check the Calendar.</a> | <a href="#/request" class = "btn btn-lg btn-primary">Request a time.</a>
    </div>
</div>